USE [master]
GO
/****** Object:  Database [MiniPIM]    Script Date: 15/12/2024 14:58:26 ******/
CREATE DATABASE [MiniPIM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiniPIM', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MiniPIM.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MiniPIM_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MiniPIM_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiniPIM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiniPIM]
GO
/****** Object:  Table [dbo].[Atributo]    Script Date: 15/12/2024 14:58:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Atributo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[tipo] [int] NOT NULL,
	[nombre_cuenta] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 15/12/2024 14:58:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cuenta] [varchar](50) NULL,
	[nombre] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Categori__3213E83F2D2C9962] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 15/12/2024 14:58:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cuenta](
	[nombre] [varchar](50) NOT NULL,
	[fechaCreacion] [date] NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 15/12/2024 14:58:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[Thumbnail] [nvarchar](255) NULL,
	[SKU] [nvarchar](50) NOT NULL,
	[Label] [nvarchar](250) NOT NULL,
	[GTIN] [char](14) NOT NULL,
	[nombre_cuenta] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductoCategoria]    Script Date: 15/12/2024 14:58:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoCategoria](
	[producto_SKU] [nvarchar](50) NOT NULL,
	[categoria_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[producto_SKU] ASC,
	[categoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Relacion]    Script Date: 15/12/2024 14:58:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relacion](
	[nombre] [nchar](10) NULL,
	[producto_SKU1] [nvarchar](50) NOT NULL,
	[producto_SKU2] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Relacion] PRIMARY KEY CLUSTERED 
(
	[producto_SKU1] ASC,
	[producto_SKU2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoAtributo]    Script Date: 15/12/2024 14:58:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAtributo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ValorAtributo]    Script Date: 15/12/2024 14:58:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValorAtributo](
	[valor] [nvarchar](255) NOT NULL,
	[atributo_id] [int] NOT NULL,
	[producto_SKU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ValorAtributo] PRIMARY KEY CLUSTERED 
(
	[atributo_id] ASC,
	[producto_SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Atributo] ON 

INSERT [dbo].[Atributo] ([id], [nombre], [tipo], [nombre_cuenta]) VALUES (7, N'Descripción Larga', 6, NULL)
INSERT [dbo].[Atributo] ([id], [nombre], [tipo], [nombre_cuenta]) VALUES (8, N'Stock Disponible', 4, NULL)
SET IDENTITY_INSERT [dbo].[Atributo] OFF
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([id], [nombre_cuenta], [nombre]) VALUES (1, NULL, N'Mesas')
INSERT [dbo].[Categoria] ([id], [nombre_cuenta], [nombre]) VALUES (2, NULL, N'Barcas')
INSERT [dbo].[Categoria] ([id], [nombre_cuenta], [nombre]) VALUES (3, NULL, N'Categoria Aux')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
INSERT [dbo].[Cuenta] ([nombre], [fechaCreacion]) VALUES (N'MiniPim', CAST(N'2024-12-15' AS Date))
INSERT [dbo].[Producto] ([Thumbnail], [SKU], [Label], [GTIN], [nombre_cuenta]) VALUES (N'image1_200x200.jpg', N'PROD001', N'Robusto', N'12345678901234', NULL)
INSERT [dbo].[Producto] ([Thumbnail], [SKU], [Label], [GTIN], [nombre_cuenta]) VALUES (NULL, N'PROD002', N'Label for product 2', N'12345678901235', NULL)
INSERT [dbo].[Producto] ([Thumbnail], [SKU], [Label], [GTIN], [nombre_cuenta]) VALUES (NULL, N'PROD003', N'Robusto', N'12345678901236', NULL)
INSERT [dbo].[ProductoCategoria] ([producto_SKU], [categoria_id]) VALUES (N'PROD001', 1)
INSERT [dbo].[ProductoCategoria] ([producto_SKU], [categoria_id]) VALUES (N'PROD007', 2)
INSERT [dbo].[ProductoCategoria] ([producto_SKU], [categoria_id]) VALUES (N'PROD008', 2)
INSERT [dbo].[Relacion] ([nombre], [producto_SKU1], [producto_SKU2]) VALUES (N'Fascinante', N'PROD001', N'PROD002')
INSERT [dbo].[Relacion] ([nombre], [producto_SKU1], [producto_SKU2]) VALUES (N'Es inutil ', N'PROD001', N'PROD004')
INSERT [dbo].[Relacion] ([nombre], [producto_SKU1], [producto_SKU2]) VALUES (N'NoEsTanto ', N'PROD005', N'PROD007')
SET IDENTITY_INSERT [dbo].[TipoAtributo] ON 

INSERT [dbo].[TipoAtributo] ([id], [nombre]) VALUES (4, N'Integer')
INSERT [dbo].[TipoAtributo] ([id], [nombre]) VALUES (5, N'Float')
INSERT [dbo].[TipoAtributo] ([id], [nombre]) VALUES (6, N'Cadena')
SET IDENTITY_INSERT [dbo].[TipoAtributo] OFF
INSERT [dbo].[ValorAtributo] ([valor], [atributo_id], [producto_SKU]) VALUES (N'Este es un producto con una descripción extendida.', 7, N'PROD001')
INSERT [dbo].[ValorAtributo] ([valor], [atributo_id], [producto_SKU]) VALUES (N'ESTO ES UN MOJON', 7, N'PROD007')
INSERT [dbo].[ValorAtributo] ([valor], [atributo_id], [producto_SKU]) VALUES (N'ESTO ESTA TOPRE GUAPO', 7, N'PROD008')
ALTER TABLE [dbo].[Atributo]  WITH CHECK ADD  CONSTRAINT [FK__Atributo__tipo__300424B4] FOREIGN KEY([tipo])
REFERENCES [dbo].[TipoAtributo] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Atributo] CHECK CONSTRAINT [FK__Atributo__tipo__300424B4]
GO
ALTER TABLE [dbo].[Atributo]  WITH CHECK ADD  CONSTRAINT [FK_Atributo_Cuenta] FOREIGN KEY([nombre_cuenta])
REFERENCES [dbo].[Cuenta] ([nombre])
GO
ALTER TABLE [dbo].[Atributo] CHECK CONSTRAINT [FK_Atributo_Cuenta]
GO
ALTER TABLE [dbo].[Categoria]  WITH CHECK ADD  CONSTRAINT [FK_Categoria_Cuenta] FOREIGN KEY([nombre_cuenta])
REFERENCES [dbo].[Cuenta] ([nombre])
GO
ALTER TABLE [dbo].[Categoria] CHECK CONSTRAINT [FK_Categoria_Cuenta]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Cuenta] FOREIGN KEY([nombre_cuenta])
REFERENCES [dbo].[Cuenta] ([nombre])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Cuenta]
GO
ALTER TABLE [dbo].[ProductoCategoria]  WITH CHECK ADD  CONSTRAINT [FK__ProductoC__categ__1B0907CE] FOREIGN KEY([categoria_id])
REFERENCES [dbo].[Categoria] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductoCategoria] CHECK CONSTRAINT [FK__ProductoC__categ__1B0907CE]
GO
ALTER TABLE [dbo].[ProductoCategoria]  WITH CHECK ADD  CONSTRAINT [FK__ProductoC__produ__1BFD2C07] FOREIGN KEY([producto_SKU])
REFERENCES [dbo].[Producto] ([SKU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductoCategoria] CHECK CONSTRAINT [FK__ProductoC__produ__1BFD2C07]
GO
ALTER TABLE [dbo].[Relacion]  WITH CHECK ADD  CONSTRAINT [FK_Relacion_Producto1] FOREIGN KEY([producto_SKU1])
REFERENCES [dbo].[Producto] ([SKU])
GO
ALTER TABLE [dbo].[Relacion] CHECK CONSTRAINT [FK_Relacion_Producto1]
GO
ALTER TABLE [dbo].[Relacion]  WITH CHECK ADD  CONSTRAINT [FK_Relacion_Producto2] FOREIGN KEY([producto_SKU2])
REFERENCES [dbo].[Producto] ([SKU])
GO
ALTER TABLE [dbo].[Relacion] CHECK CONSTRAINT [FK_Relacion_Producto2]
GO
ALTER TABLE [dbo].[ValorAtributo]  WITH CHECK ADD  CONSTRAINT [FK__ValorAtri__atrib__1CF15040] FOREIGN KEY([atributo_id])
REFERENCES [dbo].[Atributo] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ValorAtributo] CHECK CONSTRAINT [FK__ValorAtri__atrib__1CF15040]
GO
ALTER TABLE [dbo].[ValorAtributo]  WITH CHECK ADD  CONSTRAINT [FK__ValorAtri__produ__1DE57479] FOREIGN KEY([producto_SKU])
REFERENCES [dbo].[Producto] ([SKU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ValorAtributo] CHECK CONSTRAINT [FK__ValorAtri__produ__1DE57479]
GO
USE [master]
GO
